<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>news-client</display-name>
    <servlet>
        <servlet-name>client-controller</servlet-name>
        <servlet-class>
            by.epam.newsmanagement.controller.ClientController
        </servlet-class>
    </servlet>
    <listener>
        <listener-class>by.epam.newsmanagement.util.ProjectServletContextListener</listener-class>
</listener>
    <servlet-mapping>
        <servlet-name>client-controller</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
<filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>by.epam.newsmanagement.util.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/client</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>requestLogger</filter-name>
        <filter-class>by.epam.newsmanagement.util.RequestLoggerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestLogger</filter-name>
        <url-pattern>/client</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:applicationContext.xml
            WEB-INF/client-context.xml
        </param-value>
    </context-param>
	<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/error/404.jsp</location>
    </error-page>
</web-app>